form {
  font-size: 0.9rem;

  input {
    &:not([type='checkbox']) {
      width: 100%;
      margin-bottom: 0.5rem;
      padding: 0.2rem 0.6rem;
      border: none;
      border-bottom: 1px #eaeaea solid;
      transition: 0.2s;
    }

    &[type='checkbox'] {
      margin-right: 0.3rem;
    }

    &:focus, &:hover {
      outline: none;

      &:not([type='checkbox']) {
        border-color: $primary;
      }
    }
  }

  select {
    margin-bottom: 0.5rem;
  }

  select, option {
    width: 100%;
  }
}