html {
  font-size: 18px;

  &.text-enlarge {
    font-size: 25px;

    .vue-codemirror {
      font-size: 90%;
    }
  }
}

#app {
  padding-bottom: 2rem;
}

.site-title {
  background: $primary;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.8rem;
}

.card {
  padding: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;

  + .card {
    margin-top: 2rem;
  }
}

pre {
  padding: 0 0.5rem;
  border-radius: 1rem;
}

.vue-codemirror {
  padding: 0.5rem;
  background: #304148;
  border-radius: 0.5rem;
  font-size: 110%;
}

.text-muted {
  color: rgb(190, 190, 190) !important
}

.app-views {
  position: absolute;
  top: 5px;
  right: 20px;
}

pre {
  background: #f3f3f3;
  padding: 1rem;
}

img {
  max-width: 100%;
}